{% extends 'paginas/base.html' %}

{% load static %}

{% block menu %}
{% endblock %}

{% block titulo %}

<title>Acervo Privado</title>

{% endblock %}

{% block conteudo %}

<h3>Acervo Privado</h3>
<div class="container">
    <table>
        <tr>
            <th>Categoria</th>
            <th>Título do Arquivo</th>
            <th>Opções</th>
        </tr>

        {% for arquivo in object_list %}
        <tr>
            <td>{{ arquivo.categoria }}</td>
            <td>{{ arquivo.arquivo }}</td>
            <td>{{ arquivo.descricao }}</td>
            <td>
                <a href="">Editar</a>
                <a href="">Postar</a>
                <a href="">Excluir</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum registro.</td>
        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}