$base-color: #c6538c;

body{
    color: orange;
}

    h1{
        width: 100%;
        font-family: 'Times New Roman', Times, serif;
        color: $base-color;
    }

    h2{
        width: 100%;
    }
